Repository sheepishgoat/GS13-Blubberstation, pull requests merged in 2025-09, with the labels that each got.

#8 Adds Modular Suits
  code/__DEFINES/mobs.dm
  modular_gs/code/modules/clothing/under/jobs/modular_items.dm
  modular_gs/icons/mob/modclothes/modular_grey.dmi
  tgstation.dme
Labels: Sprites, Code

#10 Icon fixes and updates
  modular_gs/code/modules/clothing/under/jobs/modular_items.dm
  modular_gs/code/obj/items/bluespace_belt.dm
  modular_gs/icons/mob/clothing/bsbelts.dmi
Labels: Sprites, Code

#14 Our own breast sprites
  modular_gs/code/modules/mob/living/genitals.dm
  modular_gs/icons/obj/genitals/breasts_onmob.dmi
Labels: Sprites, Code

#17 Various tweaks and suggestions
  code/datums/quirks/positive_quirks/voracious.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/vending/clothesmate.dm
  modular_gs/code/modules/loadout/inhands.dm
  modular_gs/code/modules/loadout/under.dm
  modular_gs/code/modules/overwrites/research.dm
  tgstation.dme
Labels: Code

#18 Implement XWG
  code/__DEFINES/~~gs_defines/mobs.dm
  code/__DEFINES/~~gs_defines/signals.dm
  icons/map_icons/clothing/under/color.dmi
  modular_gs/code/mechanics/xwg.dm
  modular_gs/code/modules/client/preferences/size.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/gs13/content.tsx
Labels: Sprites, Code, TGUI

#22 Fixes to WG/L Rate and vendor boards
  modular_gs/code/modules/client/preferences/fatness_preferences.dm
  modular_gs/code/modules/vending/mealdor.dm
Labels: Code

#15 [TEST MERGE] Remove limited access slots on IDs
  code/__DEFINES/id_cards.dm
Labels: Code

#23 GATOfication - part 1
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/charter.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/modules/asset_cache/assets/paper.dm
  code/modules/reagents/reagent_containers/jerrycan.dm
  modular_gs/code/game/donator.dm
  modular_gs/code/game/objects/items/plushes.dm
  modular_gs/code/game/turfs/open.dm
  modular_gs/code/modules/loadout/donator_personal.dm
  modular_gs/code/modules/loadout/toys.dm
  modular_gs/code/obj/items/gato.dm
  modular_gs/icons/obj/bedsheets.dmi
  modular_gs/icons/obj/containers.dmi
  modular_gs/icons/obj/gatofication.dmi
  modular_gs/icons/obj/medical.dmi
  modular_gs/icons/obj/paperbag.dmi
  modular_gs/icons/obj/plushes.dmi
  modular_gs/icons/obj/scrolls.dmi
  modular_gs/icons/obj/signs.dmi
  modular_gs/icons/obj/structure/beds.dm
  modular_gs/icons/obj/tiles.dmi
  modular_gs/icons/obj/time_clock.dmi
  modular_gs/icons/obj/tools.dmi
  modular_gs/icons/obj/vairous_weapons.dm
  modular_gs/icons/stamp_icons/large_stamp-centcom.png
  modular_gs/icons/turf/carpet_gato.dmi
  modular_gs/icons/turf/carpet_gato_old.dmi
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_skyrat/modules/aesthetics/tools/code/tools.dm
  modular_zubbers/code/modules/loadout/categories/toys.dm
  modular_zubbers/modules/plexagon_selfserve/code/time_clock.dm
  tgstation.dme
Labels: Sprites, Code, Map Edit, Image
